
header {
	width: 95%;
	height: 200px;
	border:2px solid black;
	border-radius: 10px;
	margin:20px auto;
	padding: 10px;
	background-color: black;
/*	margin-bottom:100px;*/

}

header h1{
	color:white;
}

nav {
	width: 95%;
	height:50px;
	border:2px solid #50E655;
	border-radius: 10px;
	padding: 10px;
	margin:20px auto;
	/*position: fixed;
	top:230px;
	bottom:200px;
	left:20px;*/
	background-color:#50E655;
	position: :-webkit-sticky;
	position: :sticky;
	top:0px;
}

ul li{
	display:inline;
	margin-left: 20px;
}

main{
	width:auto;
	height:auto; 
	border:2px solid yellow;
  	margin:20px;
  	padding: 10px;

}
.section1{

		width:65%;
		height:450px;
		border:2px solid blue;
		padding:10px ;
		margin-bottom: 20px;
			}

.article1{

	width:95%;
	height:350px;
	border:2px solid purple;
	padding: 10px;
	margin: 10px auto;
}

#about_text{
	width: 45%;
	height:95%;
	border:2px solid red;
	padding:10px;
	float:right;
}

#about_image{
	width: 45%;
	height:95%;
	border:2px solid red;
	padding:10px;
	float:left;
	width: 45%;
}
#about_image img{
	width:100%;
	height:100%;
}

.section2 {
	width: 66%;
	height:490px;
	border:2px solid orange;
/*	margin: 10px auto;*/
margin-top: 5px;
margin-bottom: 20pc;
}


.article2 {
	width:95%;
	height:380px;
	border:2px solid blue;
	display: inline-block;
	margin: 20px auto;
	margin-left: 10px;
}

.article2 div{
	width:31%;
	height:90%;
	border:2px solid pink;
	padding:5px;
	display: inline-block;

}

#gallery_img1>img{
	width: 100%;
	height:100%;
}

#gallery_img2>img{
	
	width: 100%;
	height:100%;
}
#gallery_img3>img{
	
	width: 100%;
	height:100%;
}

.section3{
	width:98%;
	height:300px;
	border:2px solid green;
	padding:5px ;
}

aside{
	width:30%;
	height:600px;
	border:2px solid gray;
	padding:10px ;
	float:right;
	margin-top: -1500px;
}

footer{
	width:95%;
	height:50px;
	border:2px solid black;
	border-radius: 10px;
	padding:10px ;
}
